{% extends 'Base.html' %}
{% load static %}

{% block content %}

<br>
<br>
    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi!!
           <h3 class="card-title mb-3">Sitio Creado por Ignacio Cuello</h3>
       </h2>
       <br>
       <div class="row g-3">
           <div class="col-md-6 col-lg-4">
            
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img src="{% static 'imagenes/about.jpg' %}
                        " class="rounded-circle mb-3" width="120px">
                    <p class="card-text">Estiduante python.</p>
                    <p class="card-text">Sigueme en:</p>
                    <p class="card-text">
                        <a href="https://www.linkedin.com/in/ignacio-cuello-958720127">https://www.linkedin.com/in/ignacio-cuello-958720127</a>
                    </p>
                    </div>
                      
                    <div>
                    </div>    
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-right">
                    <p>MI nombre es Ignacio Cuello estudiante de python en la comisión #40440 en CoderHouse. Hace más de 10 años me dedico al amálisis espacial e información geográfica. Actualmente trabajando como asistente técnico en consultora ambiental "ADAPTA Ingenieria Ambiental". No dejes de visitarme en las redes sociales!!  :)</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}






