<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tu título de página</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .nav-links {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        .nav-links li {
            margin-right: 10px;
        }
    </style>
</head>    
<body>
<header>
    <h2>Bienvenid@s a la <span class="text-primary">Pagina de donaciontes!!</span></h2>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Proyectos">Ligas</a></li>
            <li><a href="/Equipo">Equipos Infantiles</a></li>
            <li>
                <a href="#">Articulos</a>
                <ul>
                    <li><a href="/crear_articulo">Ingresa un nuevo articulo</a></li>
                    <li><a href="/Crear_form">Ingrese Nuevo Jugador</a></li>
                    <li><a href="/Crear_Equipo">Ingrese Nuevo Equipo</a></li>
                </ul>
            </li>
            <li><a href="/buscar/">Buscar</a></li>
            <li><a href="/contacto/">Contacto</a></li>
            <li><a href="/About">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'Perfiles:login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'Perfiles:registro' %}">Registrarse</a></li>
            {% endif %}
            <li><a href="{% url 'Perfiles:perfil_create' %}">Crear perfil</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
</footer>
</body>
</html>


