{% extends 'base.html' %}

{% block content %}
    <h1>Buscar articulo!!</h1>

    <form method="POST" action="{% url 'buscar' %}">
        {% csrf_token %}
        {{ form.tipo_busqueda.label_tag }}
        {{ form.tipo_busqueda }}
        {{ form.termino.label_tag }}
        {{ form.termino }}
        <button type="submit">Buscar</button>
    </form>

    {% if articulo %}
        <h2>Resultado de la búsqueda!!</h2>
        <ul>
            {% for articulo in articulos %}
                <li>{{ articulo.titulo }}</li>
            {% endfor %}
        </ul>
    
    {% endif %}
{% endblock %}
