{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Navegación -->
<nav>
  <ul>
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#donacion">Donación</a></li>
    <li><a href="#juguetes">Juguetes</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</nav>

<!-- Contenido de la página -->
<section id="home" class="text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container text-center">
      <div class="">
          <div>
              <h2>Bienvenid@s a la <span class="text-primary">Pagina de donaciones de Juguetes!!</span></h2>
          </div>
      </div>
  </div>
  
  </section>    
<section id="inicio">
  <h1>{{title}}</h1>
  <p>
    Lograr ayudar a la mayor cantidad de familias que se encuentran en situación de pobreza o que atraviesa situaciones vulnerables, a través de donaciones recibidas por nuestros aliados y todas aquellas personas que emprenden trabajo social  y contribuyen con nuestra labor siempre protegiendo y fomentando valores y respeto al medio ambiente.
  </p>
  <img src="{% static '' %}" alt="" width="120">
</section>

<section id="donacion">
  <h2>Donación de Juguetes</h2>
  <p>
    si en casa tienes juguetes de tus hijos que han dejado de darle importancia y lo tienes arrumado en cajas, bolsas o en la esquina de tu cuarto ocupando espacio y no sabes que hacer, pues te invitamos a que dones!!
  </p>
</section>

<section id="juguetes">
  <h2>Tipos de Juguetes</h2>
  <p>¿Qué juguetes puedes donar?</p>
  <p>Pelotas</p>
  <p>Juegos de cocina</p>
  <p>Muñeca</p>
  <p>Juego didáctico</p>
  <p>Bicicleta</p>
  <p>Peluches, entre otros</p>
  
</section>

<section id="contacto">
  <h2>Contacto</h2>
  <p>
    Ponte en contacto con nosotros donaciones@contacto.com
    <!-- Contenido de la sección Contacto -->
  </p>
</section>



{% endblock %}












