{% extends 'base.html' %}
{% block content %}
  <h2>Artículos</h2>
  <ul>
    {% for articulo in articulos %}
      <li>
        <a href="{% url 'detalle_articulo' articulo.id %}">
          <h3>{{ articulo.titulo }}</h3>
        </a>
        <p>Autor: {{ articulo.autor }}</p>
        <p>Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
        <p>Contenido: {{ articulo.contenido }}</p>
      </li>
    {% empty %}
      <li>No hay artículos disponibles.</li>
    {% endfor %}
  </ul>
{% endblock %}