{% extends 'base.html' %}

{% block content %}
    <h1>Nuevos Articulos</h1>

    {% for liga in articulos %}
        <div>
            <a href="{% url 'detalle_liga' liga.id %}">
                <h1>{{ liga.titulo }}</h1>
            </a>
            <form method="post" action="{% url 'eliminar_liga' liga.id %}">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta liga?')">Eliminar</button>
            </form>
        </div>
    {% endfor %}

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
{% endblock %}






